module {{.Module}}

go {{.GoVersion}}

require (
	github.com/alecthomas/kong v1.13.0
	github.com/charmbracelet/huh v0.8.0
	github.com/charmbracelet/lipgloss v1.1.0
	github.com/gookit/color v1.6.0
	github.com/samber/lo v1.52.0
	go.uber.org/zap v1.27.0
	golang.org/x/text v0.28.0
)